body {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #c7c7c7;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-top: 60px; 
    max-width: 2200px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 20px 0;
}

.navbar a {
    display: block;
    padding: 3px 20px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar a:hover{
    background: #3f3f3f;    

}

.form-container, .chat-container {
    width: 1010px; 
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-top: 20  px;
}

.form-header, .chat-header {
    background-color: #000000;
    color: white;
    padding: 10px;
    text-align: center;
}

.form-container form, .chat-container {
    padding: 15px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.form-group {
    width: 48%;
}

.form-group label {
    display: block;
    margin-bottom: 3px;
    font-weight: bold;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group span {
    color: red;
}

.terms-row {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.terms-row .form-group {
    width: 100%;
    text-align: center;
}

.terms-row label {
    display: inline;
}

.terms-row a {
    color: blue;
    text-decoration: underline;
}

.form-footer {
    text-align: center;
}

.form-footer button {
    padding: 10px 20px;
    border: none;
    background-color: #000000;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.form-footer button:hover {
    background-color: #000000;
}

.chat-messages {
    height: 300px;
    padding: 15px;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
}

.chat-messages .message {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    max-width: 70%;
}

.message.user {
    background-color: #DCF8C6;
    align-self: flex-end;
}

.message.agent {
    background-color: #f1f0f0;
    align-self: flex-start;
}

.chat-input {
    display: flex;
    padding: 15px;
    background-color: #f9f9f9;
}

#chat-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

#send-button {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

#send-button:hover {
    background-color: #45a049;
}
